# Web Framework & DB
Django==5.0.3

# Utilities & Security
bcrypt==3.2.2
cryptography==41.0.7
PyJWT==2.7.0
PyNaCl==1.5.0
PyYAML==6.0.1

# HTTP & APIs
requests==2.31.0
urllib3==2.0.7
certifi==2023.11.17
idna==3.6
chardet==5.2.0

# Templating & Serialization
Jinja2==3.1.2
MarkupSafe==2.1.5
attrs==23.2.0
Babel==2.10.3

# Image processing (if your models use ImageField)
pillow==10.2.0

# Other helper packages
click==8.1.6
colorama==0.4.6
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
six==1.16.0
typing_extensions==4.10.0